.btn{
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid $secondary;
    color: $secondary;
    border-radius: 25px;
    font-weight: 400;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    font-weight: 500;
    transition: all .2s ease;

    &:hover{
        border: 1px solid $secondary;
        background-color: $secondary;
        color: $primary;
    }
}

.btn-outline-secondary{
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid $secondary;
    color: $secondary;
    border-radius: 25px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    font-weight: 500;
    transition: all .2s ease;

    &:hover{
        border: 1px solid $secondary;
        background-color: $secondary;
        color: $primary;
    }
}