
.fixed-menu{
    background: $primary;
    position: fixed;
    top: 0;
    width: 100%;
    margin: auto 0;
    z-index: 1000;
    box-shadow: 0 10px 30px rgba(14, 6, 58, 0.20);

}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 90px;
}

.nav-logo{
    width: 220px;
}

.nav-menu{
    display: flex;

    & li .nav-item{
        font-size: 13px;
        letter-spacing: .8px;
        font-weight: 600;
        margin-left: 35px;
        text-transform: uppercase;
        color: $white;
        transition: color .2s ease;

        &:hover{
            color: $secondary;
        }
    }
}

