@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');

@import './bases/settings';
@import './bases/base';

// components
@import './components/buttons';
@import './components/navbar';
@import './components/banner';