// Colors
$primary: #41579E;
$secondary: #B1BF4B;
$primary-hover: #293E72;
$secondary-hover: #909E2B;


$text: #2b2b2b;
$white: #fff;
$grey: #f8f8f8;
$light-grey: #eceae6;


// Fonts
$font-title: 'Montserrat', sans-serif;
$font-text: 'Montserrat', sans-serif;
$font-special: 'Montserrat', sans-serif;